[dbus]
lowercase-extension=true
character-filter="'\\#~!\"$&();<>|`^*?[]/.:"
mpris=true
id3v1-encoding=2
lowercase=false
notification-daemon=true
format-template=%N %T

[LastFM]
client-id=gmm
session=
client-version=0.1
client-banned=false

[export]
underscore=false
encoding=0
character-filter="'\\#~!\"$&();<>|`^*?[]/.:"
lowercase=false
id3v1-encoding=2
lowercase-extension=true
format-template=%N %T

[SETTINGS]
normalfont=Droid Sans [1ASC],80,normal,regular,medium,iso10646-1,512
forecolor=#e0dfdc
basecolor=#282828
selmenutextcolor=#fbf1c7
selbackcolor=#4f4f4f
tipforecolor=#fbf1c7
screenres=141
bordercolor=#e0dfdc
tipbackcolor=#4f4f4f
backcolor=#282828
selforecolor=#fbf1c7
shadowcolor=#4f4f4f
hilitecolor=#747474
selmenubackcolor=#4f4f4f

[sync]
update=false
import-new=true
update-always=false
remove-missing=true

[internet-radio]
genre-artist-split=5000
list-showcolumn-genre=true
artist-album-split=4848
list-showcolumn-station=true
filter-text=
list-sort-reverse=false
list-sort-column=4
track-list-posx=0
filter-mask=7
list-sort-seed=999034865
filter=false
album-list-sort-reverse=false
album-list-browser=false
list-columnindex-genre=3
list-columnwidth-station=200
list-columnwidth-genre=150
list-showcolumn-bit rate=true
list-columnindex-no=0
browser=false
genre-list-sort-reverse=false
list-columnwidth-bit rate=80
list-columnindex-station=1
browser-track-split=4995
list-columnwidth-no=60
genre-list=false
list-showcolumn-no=true
list-columnindex-bit rate=2
track-list-posy=0
album-list-show-year=true
album-list-sort-by-year=false
artist-list-sort-reverse=false

[window]
toolbar-labels-above=true
source-list-hsplit=1964
width=928
source-list-sort-reverse=false
window-show=true
title-format=%P - %T     |    %A     |     %y
remote-time-remaining=false
remote-y=572
browser-icons=true
source-list=true
source-list-current=database
show-playing-lyrics=true
tray-icon=false
remote=false
remote-width=321
hide-player-when-close=false
cover-size=128
fullscreen=false
maximized=false
remote-height=72
track-list-current=-1
remote-x=855
show-statusbar=true
toolbar-docktop=false
show-playing-albumcover=true
toolbar-bigicons=true
toolbar-labels=true
show-playing-titlebar=false
x=0
y=0
show-opengl-coverview=true
sort-keywords=a;an;the
height=1010

[file-system]
genre-artist-split=5000
filter=false
album-list-sort-reverse=false
genre-list=false
list-columnindex-path=0
artist-album-split=4848
browser=false
path=/home/zoj
genre-list-sort-reverse=false
list-sort-seed=2134043635
filter-text=
browser-track-split=4995
track-list-posy=0
album-list-browser=false
album-list-show-year=true
list-sort-column=17
track-list-posx=0
list-sort-reverse=false
filter-mask=7
list-showcolumn-path=true
album-list-sort-by-year=false
artist-list-sort-reverse=false
list-columnwidth-path=600

[directories]
last-import-dirs=/run/media/zoj/ZOLISAEXT4/Music

[database_playlist_2]
genre-artist-split=5000
list-showcolumn-time=true
list-columnwidth-queue=60
list-columnwidth-time=60
browser=false
list-columnindex-disc=6
artist-album-split=4848
list-showcolumn-conductor=false
list-columnindex-rating=17
list-showcolumn-title=true
album-list-browser=false
list-sort-seed=2472259136
list-showcolumn-rating=false
album-list-sort-reverse=false
list-columnindex-artist=3
list-showcolumn-queue=true
list-columnindex-path=12
list-showcolumn-file type=false
list-showcolumn-play date=false
list-columnwidth-album artist=200
list-showcolumn-composer=false
list-sort-column=3
list-columnindex-composer=15
browser-track-split=4995
list-columnwidth-title=360
list-columnwidth-no=43
album-list-show-year=true
list-columnwidth-play count=60
list-columnindex-format=14
track-list-posy=0
track-list-posx=0
list-showcolumn-path=false
list-columnindex-time=9
artist-list-sort-reverse=false
list-columnwidth-year=60
list-showcolumn-artist=true
list-showcolumn-album=true
genre-list=false
list-columnwidth-file type=30
list-showcolumn-disc=false
list-columnwidth-play date=60
list-sort-reverse=false
list-columnwidth-disc=43
filter-text=
list-columnwidth-format=400
list-columnindex-file type=13
list-columnwidth-conductor=400
filter-mask=7
list-columnindex-queue=1
list-columnwidth-album=200
filter=true
album-list-sort-by-year=false
list-columnindex-year=8
list-columnwidth-composer=30
list-showcolumn-album artist=true
list-columnindex-title=2
list-columnindex-no=0
list-columnindex-play count=10
genre-list-sort-reverse=false
list-columnindex-album=5
list-showcolumn-play count=false
list-columnindex-conductor=16
list-columnindex-album artist=4
list-columnwidth-rating=30
list-showcolumn-no=false
list-showcolumn-year=true
list-showcolumn-format=false
list-columnindex-play date=11
list-columnwidth-artist=400
list-columnwidth-path=400

[database_playlist_1]
genre-artist-split=5000
list-columnwidth-year=60
list-showcolumn-time=true
list-columnwidth-queue=60
list-columnwidth-time=60
browser=false
list-columnindex-disc=6
artist-album-split=4848
list-showcolumn-conductor=false
list-showcolumn-composer=false
list-showcolumn-title=true
album-list-browser=false
list-showcolumn-rating=false
list-columnwidth-play date=60
list-columnindex-artist=3
list-columnindex-year=8
list-showcolumn-queue=true
list-columnindex-path=12
list-showcolumn-file type=false
list-columnwidth-conductor=400
list-columnwidth-album artist=200
list-columnindex-rating=17
list-sort-column=3
track-list-posy=0
list-columnindex-composer=15
browser-track-split=4995
list-columnwidth-title=360
list-columnwidth-no=43
album-list-show-year=true
list-columnwidth-play count=60
list-columnindex-format=14
list-sort-reverse=false
track-list-posx=0
list-showcolumn-path=false
artist-list-sort-reverse=false
list-columnindex-album=5
list-showcolumn-artist=true
list-showcolumn-album=true
list-columnwidth-file type=30
list-showcolumn-disc=false
list-showcolumn-play date=false
album-list-sort-reverse=false
list-columnwidth-disc=43
filter-text=
list-columnwidth-format=400
list-columnindex-file type=13
filter-mask=7
list-columnindex-queue=1
list-columnindex-time=9
filter=true
list-columnindex-album artist=4
list-columnwidth-artist=400
list-columnwidth-album=200
list-columnwidth-composer=30
list-showcolumn-album artist=true
list-columnindex-title=2
list-columnindex-no=0
list-columnindex-play count=10
genre-list-sort-reverse=false
list-sort-seed=3594215654
list-showcolumn-play count=false
list-columnindex-conductor=16
genre-list=false
list-columnwidth-rating=30
list-showcolumn-no=false
list-showcolumn-year=true
list-showcolumn-format=false
list-columnindex-play date=11
album-list-sort-by-year=false
list-columnwidth-path=400

[player]
replay-gain=0
repeat-mode=2
play-from-queue=false
shuffle=false

[colors]
source-select-color=#d2e6d2
play-color=#b8bb26
source-selecttext-color=Black
tray-back-color=#302f2f
playtext-color=#282828
row-color=#282828
menu-base-color=#201f1f

[user-interface]
icon-theme=Papirus-Dark-Maia

[application]
minor-version=2
level-version=1
major-version=1

[import]
replace-underscores=true
detect-compilation=false
track-from-filelist=false
playback-only=false
parse-method=2
album-format-grouping=true
filename-template=%P/%A/%N %T
exclude-folder=
exclude-file=
fetch-lyrics=false

[podcast]
genre-artist-split=5000
browse-columnindex-feed=1
browse-columnindex-date=1
artist-list-selection=
browse-sort-reverse=false
browse-columnwidth-feed=100
artist-album-split=3333
track-list-posx=0
browse-columnwidth-title=200
filter-text=
browse-sort-column=21
update-interval=0
browse-columnindex-title=1
album-list-browser=false
filter-mask=7
browse-columnwidth-date=200
browse-showcolumn-date=true
filter=false
album-list-sort-reverse=false
browse-columnindex-time=1
browse-showcolumn-feed=true
browse-showcolumn-title=true
browser=true
genre-list=true
genre-list-sort-reverse=false
browser-track-split=4995
browse-sort-seed=3082542024
album-list-show-year=true
album-list-selection=
track-list-posy=0
genre-list-selection=0;
browse-columnwidth-time=200
artist-list-sort-reverse=false
browse-showcolumn-time=true
album-list-sort-by-year=false

[database]
genre-artist-split=5000
browse-columnwidth-year=60
browse-columnindex-disc=6
browse-showcolumn-year=true
browse-columnindex-play date=10
browse-columnwidth-play count=86
browse-showcolumn-no=true
browse-columnindex-no=0
browse-showcolumn-play count=true
browse-columnwidth-no=43
browse-columnwidth-album artist=200
browse-columnindex-rating=16
browse-sort-seed=2298584013
browse-showcolumn-album artist=false
browse-columnindex-title=2
browse-columnwidth-album=200
album-list-browser=false
browse-showcolumn-queue=false
browse-columnindex-path=11
browse-sort-reverse=false
browse-columnindex-artist=3
album-list-sort-reverse=false
browse-columnindex-time=8
artist-list-selection=75;
browser=true
browse-columnwidth-format=217
browse-columnwidth-file type=74
browser-track-split=4995
browse-columnwidth-disc=43
album-list-show-year=true
browse-showcolumn-format=true
browse-columnwidth-rating=90
track-list-posy=0
track-list-posx=0
browse-showcolumn-album=false
browse-showcolumn-time=true
browse-columnwidth-queue=60
browse-columnindex-album=5
browse-showcolumn-artist=true
browse-columnwidth-path=400
filter-mask=7
browse-showcolumn-path=false
browse-columnwidth-artist=164
browse-columnindex-album artist=4
artist-album-split=4848
browse-columnindex-format=13
browse-showcolumn-rating=true
browse-columnwidth-title=360
filter-text=
browse-showcolumn-composer=false
browse-sort-column=4
browse-columnwidth-composer=30
browse-showcolumn-play date=true
browse-columnwidth-conductor=400
browse-columnindex-year=7
browse-columnindex-conductor=15
browse-columnwidth-play date=86
filter=true
browse-columnwidth-time=60
browse-columnindex-play count=9
browse-columnindex-file type=12
artist-list-sort-reverse=false
browse-showcolumn-title=true
genre-list-sort-reverse=false
browse-columnindex-queue=1
genre-list-selection=0;
browse-showcolumn-conductor=false
genre-list=false
album-list-selection=0;
browse-showcolumn-disc=false
album-list-sort-by-year=true
browse-columnindex-composer=14
browse-showcolumn-file type=true

